<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorldService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:21260/HostDevServer/HelloWorldService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWorldService"
                contract="IHelloWorldService" name="BasicHttpBinding_IHelloWorldService" />
        </client>
    </system.serviceModel>
</configuration>